
#canvas {
    max-width: 100%;
  }
  body {
    font-family: 'GE_Hili_Book.otf'
  }

  .myTxt {
    padding: 10px;
    padding-top: 10px;
  }

  .EE {
    padding-top: 250px;
    color: #FEFFFE;
  }

  .bg {
  background: #19191B;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
  backdrop-filter: blur(12.1px);
  -webkit-backdrop-filter: blur(12.1px);

}

  .candidates-profile-details img {
    max-width: 200px;
    background: transparent;
  }

  .candidates-profile-details .candidates-profile-name {
    font-weight: 300;
  }

  .candidates-profile-icons .list-inline-item {
    margin: 0 1px !important;
  }


  .profile-education-icon {
    border: 1px solid #ececec;
    position: absolute;
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 42px;
    border-radius: 50px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #ffffff;
    color: #ff4f6c;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .candidates-profile-education {
    padding: 64px 24px 24px;
  }

  .candidates-profile-education:hover .profile-education-icon {
    background-color: #ff4f6c;
    border: 1px solid #ff4f6c;
    color: #ffffff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .job-details {
    padding: 210px 0px 60px 0px;
    background-image: url("../images/job-details-bg.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;
  }

  .job-detail {
    border: 1px solid #ececec;
    border-radius: 6px;
  }

  .job-details-desc-item p {
    overflow: hidden;
  }

  .job-detail-icons li {
    margin: 2px !important;
  }

  .job-detail-icons li a {
    height: 32px;
    width: 32px;
    color: #ff4f6c;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #ff4f6c;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .job-detail-icons li a:hover {
    background-color: #ff4f6c;
    color: #ffffff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .job-detail-time li {
    padding: 10px 4px;
    border-top: 1px solid #ececec;
  }

  .job-detail-time li:first-child {
    border-top: none;
  }

  .section {
    padding-bottom: 80px;
    padding-top: 80px;
    position: relative;
  }

  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
  .hover {
  text-decoration: none;
  transition: all .3s;
  background: #27262B;
  

}
.hover:hover {
text-decoration: none;
color: #FEFFFE;
background: #27262B;
transition: all .2s;
transform: scale(1.03)
}
.h4 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: white;
}
@font-face {
  font-family: 'ge_hilibook';
  src: url('fonts/ge_hili_book-webfont.woff2') format('woff2'),
       url('fonts/ge_hili_book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}